body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  /* Adjust the color to match the exact background of your image */
  overflow-x: hidden;
  overflow-y: hidden;
  
}

.html {
    transition: 1s;
    mix-blend-mode: difference;
}

p { 
    margin: 0;
}

#root {
    width: 100%;
    height: 100%;
}

.search-main {
    width: 100%;
    height: 100%;
    background-color: #1E1E1E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.search-title-options {
    display: flex;
    flex-direction: row;
    justify-content: start;

    height: 5%;
    width: 100%;
}

.search-title {
    font-family: Viga;
    color: white;
    font-size: 20px;
    text-align: left;
    margin-top: 1%;
    margin-left: 1%;
    width: 50%;
}

.search-options {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    width: 48%;
    height: 100%;
}

.search-options-arrow {
    color: white;
    border: none;
    outline: none;
    background: none;
    font-family: Viga;
    font-size: 20px;
    cursor: pointer;
}

.search-options-title {
    color: white;
    font-family: Viga;
    font-size: 20px;
    margin: 0px 5px 0px 5px;
}

.search-results {
    background-color: none;
    margin-top: 0.5%;
    height: 84%;
    width: 98%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 49% 49%;
    row-gap: 2.2%;
    column-gap: 0.5%;
}

.search-results-component {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color:#151515;
    padding: 3px 3px 3px 3px;
    border-radius: 5px;
    z-index: 10;
}

.search-results-component-details {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.search-results-component-info {
    width: 98%;
    margin-left: 1%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.search-results-component-title {
    color: white;
    width: 100%;
    font-size: 18px;
    font-family: Viga;
    text-align: center;
    align-self: center;
}

.search-results-component-overview {
    color: white;
    height: 80%;
    word-wrap: break-word;
    width: 100%;
    font-size: 11px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    align-self: center;
    
    position: relative;
}

.search-results-component-poster {
    height: 100%;
    border-radius: 5px;
}

.search-results-component-options {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: #1E1E1E;
    margin-top: 2px;
    z-index: 10;
}